body {
  background-color: #eee;
  color: #333;
  font-size: 1rem;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-weight: 300;
  line-height: 1.8em;
}

.figure-output {
  position: absolute;
  top: 0rem;
  bottom: 0;
  left: 25rem;
  right: 0;
  margin: 1rem;
  h5 {
    margin: 0 4rem 1rem 4rem;
    font-size: 1rem;
    text-align: center;
  }
}

.chart-figure {
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bbb;
  min-height: 15rem;
}

.chart-container {
  min-height: 15rem;
}

.chart-dropdown {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
  label {
    display: inline-block;
    font-weight: 800;
  }
}

.error-background {
  position: absolute;
  top: 0rem;
  bottom: 0;
  left: 26rem;
  right: 0;
  padding: 2rem;
  background-color: #000;
  z-index: 1;
  opacity: 0.75;
}

.error-message {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20rem;
  margin-top: -10rem;
  padding: 2rem;
  background-color: #000;
  z-index: 2;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
  opacity: 0.75;
  h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
    color: #f00;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.5em;
    font-weight: 400;
  }
}

.fast-transition-appear {
  opacity: 0.01;
}
.fast-transition-appear.fast-transition-appear-active {
  opacity: 0.75;
  transition: opacity .2s ease-in;
}

.slow-transition-appear {
  opacity: 0.01;
}
.slow-transition-appear.slow-transition-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in;
}

.control-module {
  float: left;
  width: 24rem;
  background-color: #fff;
  margin: 1rem;
  border: 1px solid #999;
  .header {
    height: 4rem;
    background-color: #ddd;
    color: #444;
    h1 {
      float: left;
      margin: 1rem 0.25rem 0 1.5rem;
      font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.75rem;
      font-weight: 800;
    }
    h2 {
      float: left;
      margin-top: 2rem;
      font-size: 1rem;
    }
  }
  .buttons {
    float: left;
    padding-bottom: 0.5rem;
    background-color: #555;
    text-align: center;
    border-bottom: 2px solid #333;
    h3 {
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600;
      background-color: $darkest-blue;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
    }
  }
  .markdown-input {
    min-height: 15rem;
    width: 20rem;
    padding: 1.5rem 1rem 0 1rem;
    font-family: monospace;
    line-height: 1.25rem;
    white-space: nowrap;
    resize: none;
  }
  .line-numbers {
    float: left;
    margin-top: 1.5rem;
    position: relative;
    font-family: monospace;
    background-color: #fff;
    border-radius: .25em;
    counter-reset: line;
    span {
      display: block;
      line-height: 1.25rem;
      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        border-right: 1px solid #ddd;
        padding: 0 .5em;
        width: 1rem;
        color: #888;
        text-align: right;
      }
    }
  }
}
