button {
  border: none;
  background: transparent;
}

.button, .button:visited {
  font-family: $header-family;
  font-weight: $header-black;
  text-transform: uppercase;
  color: #fff;
  padding: .7em 3em;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  &:hover {
    border-radius: 2em;
  }
  @include media(medium-down) {
    font-size: .86em;
  }
}

.button--outline {
  // border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  &:hover {
    background-color: #fff;
    color: $medium-blue;
  }
}

.button--small {
  padding: .3em 2.3em .3em;
}

.button--xsmall {
  padding: .3em 0.75em .3em;
  font-size: .8em;
}
