/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: rgb(60, 60, 60);
$primary-color: rgb(51, 158, 176);
$secondary-color: rgb(57, 174, 194);

$grey-outline: rgb(215, 215, 215);
$page-background: rgb(250, 250, 250);
$header-background: rgb(245, 245, 245);
