/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$darkest-blue: #3BA8BA;
$medium-blue: #3BABBE;
$light-blue: #43B7CA;
$base-green: #83C61A;
$base-purple: #52346E;

$black: #252525;
$darkest-grey: #414141;
$dark-grey: #676767;
$grey: #7D7D7D;
$light-grey: #A3A3A3;
$lightest-grey: #FCFCFC;

/* Typography
   ========================================================================== */

$base-font-color: $darkest-grey;
$base-font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-bold: 600;
$base-font-size: .88rem;
$base-line-height: 1.5;

$header-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-color: $darkest-grey;
$header-light: 300;
$header-regular: 400;
$header-bold: 700;
$header-black: 900;
