/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: rgb(61, 61, 61);
$primary-color: rgb(51, 158, 176);
$secondary-color: rgb(57, 174, 194);
