.page__article {
  float: left;

  .figure-container {
    float: left;
    width: 100%;
    text-align: center;
    .chart-container {
      margin: 0 auto;
      text-align: center;
      h3 {
        width: 100%;
        font-size: 1.4em;
        margin: 1rem;
      }
      .chart-dropdown {
        float: left;
        margin-top: 1rem;
        text-align: center;
        width: 100%;
        font-weight: 800;
        font-size: 1rem;
        select {
          color: $darkest-blue;
        }
      }
      &.pie-width {
        .chart-container {
          max-width: 40rem;
        }
        .chart {
          width: 40% !important;
          text-align: center !important;
          margin: 0 auto !important;
        }
      }
      &.full-width {
        .chart-container {
          max-width: 60rem;
        }
        .chart {
          width: 100%;
          width: 90% !important;
          max-height: 20rem !important;
          text-align: center !important;
          margin: 0 auto !important;
        }
      }
    }
  }

  .article-byline {
    li {
      display: inline;
      list-style-type: none;
      &:last-child::before {
        content: ' | ';
      }
    }
  }

  .page__project-articles-list {
    float: left;
    background-color: $light-blue;
    .section__header {
      color: #fff;
    }
    .article-card--project {
      color: #fff;
      float: left;
      width: 29%;
      margin-right: 2rem;
      padding: 2rem 2.2rem 3rem 2.2rem;
      border: 2px solid #fff;
      min-height: 14em;
      .metadata-italic {
        color: darken($lightest-grey, 10%);
        margin-bottom: 2em;
        display: block;
        margin-top: .2rem;
      }
      p, li {
        font-weight: 200;
        line-height: 1.5rem;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .page__related-articles-list {
    float: left;
    background-color: darken($lightest-grey, 3%);
    .article-card--related {
      float: left;
      width: 28%;
      margin-right: 5%;
      .article-card__body--related {
        min-height: 8.5em;
      }
      .article-card__header--related {
        margin: 0 0 .5em;
      }
      .article-card__tags {
        color: $light-grey;
        font-size: .86em;
        font-style: italic;
      }

      &:last-child {
        margin-right: 0;
      }
      p {
        font-weight: 200;
        font-size: 0.75rem;
        line-height: 1.5rem;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
