/* ==========================================================================
   Import fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans');

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
}

.page__body {
  border-left: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
  max-width: 1100px;
  margin: 0 auto;
}
