// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}


body {
  color: $dark-grey;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  background-color: $background-grey;
}

p { 
  line-height: 1.8em; 
  font-weight: $base-font-light;
}

.row {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 0 64px;
  display: block;
  width: auto;
}

.row--shortened {
  max-width: 980px;
}

a, a:visited {
  text-decoration: none;
}

.section__padding {
  padding: 4em 0 7em;
}

.header__internal {
  height: 350px;
  background-color: $medium-blue;
  position: relative;
  @extend .clearfix;
  .split__internal--left {
    width: 57%;
  }
}

.header__internal, .home__header {
  margin-bottom: 4em;
  h2 {
    color: #fff;
  }
  .header__metadata {
    color: $black;
    line-height: 1.7em;
    max-width: 90%;
    font-weight: $base-font-regular;
  }
}

.visually-hidden { display: none; }

section {
  width: 100%;
  @extend .clearfix;
}

.home__header {
  p {
    font-size: 1.1em;
    width: 83%;
  }
}

.section__internal {
  padding-bottom: 5em;
}

.browse__header-text {
  margin-top: 10em;
  width: 60%;
}

dt {
  font-weight: $base-font-bold;
  float: left;
  margin-right: .7em;
}

.header-internal {
  margin-bottom: 3em;
  width: 70%;
  p {
    color: $light-grey;
  }
}

.page__body {
  @extend .clearfix;
}
