button {
  border: none;
}

.button, .button:visited {
  font-family: $header-family;
  font-weight: $header-black;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: .7em 4em;
  display: inline-block;
}

.button--main {
  background-color: $base-green;
}

.button--outline {
  border: 2px solid #fff;
  color: #fff;
}

.button--small {
  padding: .5em 3em;
}
