button {
  border: none;
}

.button, .button:visited {
  font-family: $header-family;
  font-weight: $header-black;
  text-transform: uppercase;
  color: #fff;
  padding: .7em 3em;
  display: inline-block;
  text-align: center;
}

.button--main {
  background-color: $base-green;
}

.button--outline {
  border: 2px solid #fff;
  color: #fff;
}

.button--small {
  padding: .5em 2.5em;
}

.button--more-information {
  margin-top: 3em;
}

.button--download {
  padding: .7em 2.35em;
}