input {
  background-color: rgb(255, 255, 255);
  border: 1px solid lighten($light-grey, 20%);
  padding: 0.75rem 1rem;
  min-width: 14rem;
  &:focus {
    border: 1px solid $light-grey;
  }
}

.input--small {
  padding: 0.4rem .8rem .3rem;
}