.page__home {
  .home__header {
    background-color: $medium-blue;
    position: relative;
    @extend .clearfix;
    min-height: 500px;
  }
}

.home__header-split--left {
  width: 52%;
  position: absolute;
  background-color: $darkest-blue;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50em;
    background: $darkest-blue;
    height: 100%;
    width: 50em;
    @include media(medium-down) {
      background: transparent;
    }
  }
  @include media(medium-down) {
    width: 100%;
    position: relative;
    background-color: transparent;
  }
}

.home__header-split--left__content {
  padding: 7em 6em 5em 0;
  @include media(medium-down) {
    padding: 7em 6em 3em 0;
  }
  @include media(small-down) {
    padding: 7em 0 2em;
  }
}

.home__header-split--right {
  width: 30%;
  position: absolute;
  right: 0;
  margin-top: 8.5em;
  a {
    min-width: 9em;
    margin-bottom: 1em;
    display: inline-block;
  }
  @include media(medium-down) {
    position: relative;
    width: 100%;
    margin-top: 0;
    a {
      min-width: 4em;
      &:first-of-type {
        margin-right: 1em;
      }
    }
  }
}

.featured-project__item {
  width: 45%;
  float: left;
  &:first-of-type {
    margin-right: 6%;
  }
  .featured-project__item--body {
    float: left;
    width: 82%;
  }
  @include media(medium-down) {
    width: 100%;
    &:first-of-type {
      margin-right: 0;
      margin-bottom: 3em;
    }
  }
}

.related__card__tags {
  position: absolute;
  bottom: 0;
  li {
    display: inline-block;
    font-size: .86em;
    margin-right: .5em;
  }
}

