.page__home {
  .home__header {
    background-color: $medium-blue;
    position: relative;
    @extend .clearfix;
    height: 500px;
  }
}

.home__header-split--left {
  width: 52%;
  position: absolute;
  background-color: $darkest-blue;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50em;
    background: $darkest-blue;
    height: 100%;
    width: 50em;
  }
}

.home__header-split--left__content {
  padding: 7em 6em 0 0;
}

.home__header-split--right {
  width: 30%;
  position: absolute;
  right: 0;
  margin-top: 8.5em;
  a {
    min-width: 7em;
    margin-bottom: 1em;
  }
}

.featured-project__item {
  width: 45%;
  float: left;
  &:first-of-type {
    margin-right: 6%;
  }
  .featured-project__item--body {
    float: left;
    width: 82%;
  }
}


