.page__home {
  .home__header {
    @extend .clearfix;
    min-height: 500px;
    width: 80%;
    position: relative;
    .row {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.home__header-split--left {
  width: 52%;
  position: absolute;
  background-color: $darkest-blue;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50em;
    background: $darkest-blue;
    height: 100%;
    width: 50em;
    @include media(medium-down) {
      background: transparent;
    }
  }
  @include media(medium-down) {
    width: 100%;
    position: relative;
    background-color: transparent;
  }
  .header-internal {
    width: 90%;
  }
}

.home__header-split--left__content {
  padding: 7em 6em 5em 0;
  @include media(medium-down) {
    padding: 7em 6em 3em 0;
  }
  @include media(small-down) {
    padding: 7em 0 2em;
  }
}

.home__header-split--right {
  width: 30%;
  position: absolute;
  right: 0;
  margin-top: 8.5em;
  a {
    min-width: 9em;
    margin-bottom: 1em;
    display: inline-block;
  }
  @include media(medium-down) {
    position: relative;
    width: 100%;
    margin-top: 0;
    a {
      min-width: 4em;
      &:first-of-type {
        margin-right: 1em;
      }
    }
  }
}

.split-content {
  @extend .clearfix;
}

.section--project-briefs {
  background-color: $medium-blue;
  @extend .clearfix;
  clear: both;
  .home__header-split--left {
    position: relative;
    float: left;
  }
}

.split--right {
  float: left;
  width: 30%;
  padding-left: 5%;
  padding-bottom: 7em;
}

.featured-project__item {
  width: 75%;
  float: left;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  &:first-of-type {
    margin-bottom: 3em;
  }
  &:hover {
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 2em 3em;
  }
  .featured-project__item--body {
    float: left;
  }
  @include media(medium-down) {
    width: 100%;
    &:first-of-type {
      margin-right: 0;
      margin-bottom: 3em;
    }
  }
}

.selected {
  border: 2px solid #fff;
  padding: 2em 3em;
}

.related__card__tags {
  position: absolute;
  bottom: 0;
  li {
    display: inline-block;
    font-size: .86em;
    margin-right: .5em;
  }
}

.article-card--related-frontpage {
  margin-bottom: 3em;
}
