#world-map {
  position: relative;
}

.overlay,
.land {
  stroke: #d4d4d4;
}

figure {
  margin: 1em 0;
}

figcaption {
  font-size: .86em;
  color: $light-grey;
  font-weight: $base-font-light;
  margin-bottom: 2em;
  width: 70%;
}