.page__header {
  margin: 1.2em 0;
  @extend .clearfix;
  .nav__main {
    float: left;
    li {
      display: inline-block;
      margin-top: .5em;
    }
    a, a:visited {
      color: $darkest-grey;
      margin-right: .5em;
      padding: .5em 1em;
      position: relative;
    }
    a:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2.5em;
      top: 4.5em;
      left: 0;
      border-bottom: 1px solid lighten($light-grey, 25%);
      overflow-y: hidden;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    a:hover:before {
      top: 0em;
    }
  }

  h1 {
    float: left;
    font-size: 1.45rem;
    font-weight: $base-font-bold;
    margin: 0 2.5rem 0 0;
    a, a:visited {
      color: $darkest-grey;
    }
    a:before {
      top: 1.75rem;
    }
  }
}
