.page__previewer {
  .previewer__split--left {
    @extend .clearfix;
  }

  .previewer__split--right {
    float: left;
    width: calc(100% - 32rem);
    margin-left: 3rem;
    @include media(medium-down) {
      width: 100%;
      min-width: 28rem;
      margin: 2rem 0 0 0;
    }
  }

  .previewer__control-module {
    float: left;
    width: 28rem;
    background-color: #fff;
    border: 1px solid $grey;
    box-shadow: 0 0 10px $dark-grey;
  }

  .previewer__output {
    .chart-figure {
      margin: 0 2rem 2rem 0;
      padding: 1rem;
      display: inline-block;
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid $grey;
      box-shadow: 0 0 10px $dark-grey;
      .chart-container {
        width: 100%;
        height: 225px;
        canvas {
          float: left;
        }
      }
      .chart-dropdown {
        margin-top: 1rem;
        font-size: 0.8rem;
        text-align: center;
        label {
          display: inline-block;
          font-weight: 800;
        }
      }
    }

    .fast-transition-appear {
      opacity: 0.01;
    }
    .fast-transition-appear.fast-transition-appear-active {
      opacity: 0.75;
      transition: opacity .2s ease-in;
    }

    .slow-transition-appear {
      opacity: 0.01;
    }
    .slow-transition-appear.slow-transition-appear-active {
      opacity: 1;
      transition: opacity .4s ease-in;
    }
  }

  .previewer__control-module {
    .control-module__header {
      height: 4rem;
      background-color: lighten($light-grey, 25%);
      color: #444;
      h1 {
        float: left;
        margin: 0.8rem 0 0 5rem;
        font-size: 1.75rem;
        font-weight: 800;
      }
      h2 {
        float: left;
        margin: 1.5rem 0 0 0.75rem;
        font-weight: 600;
        font-size: 1rem;
      }
    }

    .control-module__buttons {
      float: left;
      width: 100%;
      padding-bottom: 0.5rem;
      background-color: $dark-grey;
      text-align: center;
      border-bottom: 2px solid $darkest-grey;
      h3 {
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 500;
        background-color: $darkest-blue;
        border-left: $darkest-grey;
        border-right: $darkest-grey;
        border-top: 2px solid darken($darkest-blue, 20%);
        border-bottom: 2px solid darken($darkest-blue, 20%);
      }
    }

    .control-module__markdown-input {
      float: left;
      min-height: 15rem;
      width: 26rem;
      box-sizing: border-box;
      padding: 1.5rem 1rem 0 1rem;
      font-family: monospace;
      line-height: 1.25rem;
      white-space: nowrap;
      overflow: scroll;
      resize: none;
    }

    .control-module__line-numbers {
      float: left;
      margin-top: 1.5rem;
      position: relative;
      font-family: monospace;
      background-color: $background-grey;
      border-radius: .25em;
      counter-reset: line;
      box-shadow: 3px 3px 3px #ccc;
      span {
        display: block;
        line-height: 1.25rem;
        &:before {
          counter-increment: line;
          content: counter(line);
          display: inline-block;
          border-right: 1px solid #ddd;
          padding: 0 .5em;
          width: 1rem;
          background-color: #eee;
          color: #888;
          text-align: right;
        }
      }
    }
  }

  .output__error-message {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 20rem;
    margin-top: -10rem;
    padding: 2rem;
    background-color: #000;
    z-index: 2;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    opacity: 0.75;
    h1 {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 800;
      color: #f00;
      text-align: center;
    }
    p {
      color: #fff;
      line-height: 1.5em;
      font-weight: 400;
    }
  }

  .output__error-background {
    position: absolute;
    top: 0rem;
    bottom: 0;
    left: 34.5rem;
    right: 0;
    padding: 2rem;
    background-color: #000;
    z-index: 1;
    opacity: 0.75;
  }
}
